/********************************************************************* CSS VARIABLES *********************************************************************/ 
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {

  --main-bg-color : #FFFFFF;
  --secondary-bg-color : #191919;
  --third-color : #FFEC2E;
  --fourth-color : #EE340A;
  --button-color: #0055FF;
  --box-shadow: #e1e1e1 0px 1px 3px, #e1e1e1 0px 1px 3px, #e1e1e1 0px 1px 3px;
  --font-title : 'Bungee', cursive;
  --font-text :'Roboto Condensed', sans-serif;
}


/********************************************************************* BASIC CSS *********************************************************************/ 
.desktop {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color-color);
  font-family: var(--font-text);
  overflow-x: hidden;
}

h1 {
  font-family: var(--font-title);
}


h2 {
  text-align: left;
  font-family: var(--font-title);
  font-size: 1.3rem;
  color: var(--fourth-color);
  text-shadow: var(--third-color) 1px 2px 2px;
  line-height: 1.3;
  overflow: hidden;
  margin: 0;
}

a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
  overflow: hidden;
}

.button_style {
  border: none;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  border-radius: 0.75rem;
  font-weight: bold;
}

.margin1r0 {
  margin: 1rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}
/********************************************************************* NAV *********************************************************************/ 

.openBurger {
  z-index: 2;
  height: 100%;
  padding: 0 0 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: open 0.25s cubic-bezier(0.460, 0.460, 0.450, 0.440) both;
}

@keyframes open {
  0% {
    transform: scale(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

.openBurger button {
  width: 100%;
  font-size: 2rem;
  padding: 2rem 1rem;
  border: none;
}

button.croix {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin-left: 0.5rem;
  box-shadow: none;
}

.croix img {
  height: 3rem;
  padding: 0.5rem;
}

.padding-header {
  padding: 0.5rem;
}

.burger {
height: 2rem;
transform: rotate(180deg);
}

.logo {
  height: 4rem;
  width: auto;
  margin: 0;
  padding: 0;
}

.CTA_home {
  border: none;
  box-shadow: var(--box-shadow);
  padding: 0.5rem 0.75rem;
  background-color: var(--third-color);
  margin-bottom: 1rem;
  border-radius: 0.35rem;
  font-weight: bolder;
  font-size: 1rem;
  color: var(--fourth-color);
}
/********************************************************************* HOME *********************************************************************/ 
.main_container {
  padding: 1rem 3rem;
}

/************* LANDING IMAGE *************/
.landing_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}
.landing_page h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 1.2;
  overflow: hidden;
}
.landing_page h1, .landing_page h2 {
  background-color: transparent;
  padding: 0.5rem 2rem;
  z-index: 1;
  margin: 0;
  text-align: center;
}

.landing_page h1 {
  color: var(--fourth-color);
  text-shadow: var(--third-color) 2px 2px 0px;
}
  .background_img {
    position: absolute;
    background-position: 50%;
    min-width: 100%;
    height: 100%;
  }
 .home .veil {
    position: absolute;
    background-color: var(--secondary-bg-color);
    width: 100%;
    height: 100%;
    opacity: 50%;
    top: 0;
    margin: 0;
  }

.home > section > article, .home > section > div:nth-child(2){
  padding: 0 2rem;
}

.home > section > div, .home > section > article {
  margin: 2rem 0 0;
}

.home section * {
  margin: 0.5rem 0;
}

.home section h2 {
  margin: 2rem 0;
}

 p, li {
  font-size: 1.3rem;
  line-height: 1.7;
}

ul {
  padding: 2rem 0;
}

.home iframe {
  width: 100%;
  height: 50vh;
  margin: 2rem 0 ;
}

.iframe h2, .iframe p {
  padding: 0 2rem;
}



.landing_page h2 {
  color: var(--third-color);
  margin-top: 4rem;
  padding: 0 5rem;
  font-family: var(--font-text);
  text-shadow: none;
  font-size: 1.35rem;
}

.home .barket {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .barket img {
  width: 25vw;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 0.25rem;
  margin: 1rem;
  box-shadow: var(--box-shadow);
}

.landing_page video {
  margin: 0;
}

/********************************************************************* FOOTER *********************************************************************/ 

.footer {
  padding: 1rem 2rem;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer * {
  padding: 0.5rem 0;
  background-color: inherit;
  color: inherit;
  overflow: hidden;
}

.footer li, .footer a, .footer div {
  padding: 0.15rem 0;
}
.footer-section {
  width: 100%;
}

.footer div {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer img {
  width: auto;
  height: 4rem;
  object-fit: contain;
  margin: 0 0.25rem;
}

.mentions {
  text-align: center;
  width: 100%;
  margin: 2rem 1rem 0;
}

.footer h2 {
  font-size: 1rem;
  text-shadow: none;
  width: 100%;
  color: var(--third-color);
}

.footer small, .footer a small.small {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  overflow: hidden;
}

.footer .gn {
  font-weight:600;
  text-decoration: underline;
}

.footer .barket {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .barket img {
  width: 25vw;
  height: 5rem;
  border-radius: 1rem;
}
/********************************************************************* MENTIONS *********************************************************************/ 
.mentions-container {
  padding: 1rem 4rem;
}

.mentions-container > * {
  padding: 1rem 0;
}

.mentions-container h2 {
  margin-top: 2rem;
}


/******************************************************************************************************************************************/ 
/********************************************************************* DESKTIOP *********************************************************************/ 
/******************************************************************************************************************************************/ 


@media screen and (min-width: 768px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }

  header {
    flex-direction: row;
  }

/********************************************************************* NAVBAR *********************************************************************/ 
.navbar {
  padding: 2rem 0;

}

.navbar * {
  padding: 0rem 2rem;
}
.background_img {
  position: absolute;
  background-position: 50%;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}
/********************************************************************* HOME *********************************************************************/ 

.landing_page h1 {
  color: var(--fourth-color);
  font-size: 8rem;
  text-shadow: var(--third-color) 2px 2px 0px;
}
.landing_page h2 {
  font-size: 2rem;
}
.home section {
  display: flex;
  padding: 0;
  box-shadow: var(--box-shadow);
}

.home section article {
  margin: 0;
  width: 50%;
  box-shadow: var(--box-shadow);
  padding: 5rem 6rem;
  text-align: left;
}

.home section article:first-of-type {
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
}

.home section article:first-of-type h2 {
  color: var(--third-color);
  text-shadow: var(--fourth-color) 2px 2px 0px;
}

.home section:nth-child(3) {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.home section:nth-child(3) > div:last-of-type {
display: flex;
justify-content: flex-start;
align-items: flex-start;
width: 100%;
margin-bottom: 0;
padding: 4rem 0;
text-align: left;
}

.home section:nth-child(3) > div:last-of-type > * {
  width: 50%;
  padding: 0;
}
.home section:nth-child(3) > div:last-of-type h2 {
  padding-left: 2rem;
}
.home section:nth-child(3) > div:first-of-type {
  padding: 2rem 0 0;
  margin: 0;
  width: 100%;
  background-color: var(--third-color);
  display: flex;
  flex-direction: column;
}

.home section:nth-child(3) > div:first-of-type  h2 {
  color: var(--fourth-color);
  text-shadow: var(--main-bg-color);
}

.home section:nth-child(3) > div:first-of-type img {
  width: 5rem;
  height: 2.5rem;
  object-fit: cover;
  padding: 0.45rem;
  background-color: var(--main-bg-color);
  text-align: left;
}

.home .locaux {
  width: 100%;
  text-align: left;
  padding:0;
  margin: 0;
}

.home .locaux p {
  padding: 0 2rem;
  margin: 0;
}

.home iframe  {
  width: 100%;
  height: 30rem;
  margin:1rem 0 0;
}

/********************************************************************* FOOTER *********************************************************************/ 

.footer {
  padding: 1rem 2rem;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  flex-wrap: wrap;
  text-align: center;
}

.footer * {
  padding: 0.5rem 0;
  background-color: inherit;
  color: inherit;
  overflow: hidden;
  width: 100%;
}

.footer li, .footer a, .footer div {
  padding: 0.15rem 0;
}

.footer div {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 25vw;
}

.footer img {
  width: auto;
  height: 3rem;
  object-fit: contain;
  margin: 0 0.25rem;
}

.mentions {
  text-align: center;
  width: 100%;
  margin: 2rem 1rem 0;
}

.footer h2 {
  font-size: 1rem;
  text-shadow: none;
  width: 100%;
  color: var(--third-color);
}

.footer small, .footer a small.small {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  overflow: hidden;
}

.footer .gn {
  font-weight:600;
  text-decoration: underline;
}

.footer .barket {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}
.footer .barket img {
  width: 6rem;
  height: 5rem;
  overflow: hidden;
  object-fit: contain;
  border-radius: 0;
  margin: 0;
}

.footer > div.footer_contact > ul.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.footer > div.footer_contact > ul.flex li {
  width: 3rem;
}

}